﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style type="text/css">
        /* client-specific */

        #outlook a {
            padding: 0;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        /* reset */

        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        /* ios */

        .appleBody a {
            color: #3d3d3d;
            text-decoration: underline;
        }

        .appleCTA a {
            color: #ffffff;
            text-decoration: none;
        }

        .appleFooter a {
            color: #999999;
            text-decoration: none;
        }

        table + table {
            padding-top: 40px;
        }

        /* styles */

        @media screen and (max-width: 1024px) {
            table[class="wrapper"] {
                width: 100% !important;
            }

            table[class="mobile-hide"] {
                display: none !important;
            }

            td[class="mobile-hide"] {
                display: none !important;
            }

            img[class="mobile-hide"] {
                display: none !important;
            }

            img[class="img-max"] {
                max-width: 100% !important;
                width: 100% !important;
                height: auto !important;
            }

            img[class="img-60"] {
                max-width: 60% !important;
                width: 60% !important;
                height: auto !important;
            }

            table[class="responsive-table"] {
                width: 100% !important;
            }

            td[class="pre-header"] {
                padding: 10px 5% 10px 5% !important;
            }

            td[class="pre-header-text"] {
                padding: 0 5% 0 5% !important;
            }

            td[class="header"] {
                padding: 50px 10% 0 10% !important;
                text-align: center;
            }

            td[class="header-2"] {
                padding: 30px 15% 0 15% !important;
                text-align: center;
            }

            td[class="paragraph"] {
                padding: 10px 10% 50px 10% !important;
                text-align: center;
            }

            td[class="paragraph-2"] {
                padding: 10px 10% 20px 10% !important;
                text-align: center;
            }

            td[class="link"] {
                padding: 0 10% 50px 10% !important;
                text-align: center;
            }

            td[class="no-padding"] {
                padding: 0 !important;
            }

            td[class="section"] {
                padding: 0 20px 0 20px !important;
            }

            td[class="footer"] {
                padding: 30px 20px 20px 20px !important;
            }
        }
    </style>
</head>

<body style="margin: 0; padding: 0;" bgcolor="#fcfcfc">
    <!-- pre-header -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" style="padding: 0 10px 0 10px;" class="pre-header">
                <table border="0" cellpadding="0" cellspacing="0" width="1000" class="responsive-table">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" style="padding: 10px 0 0 0; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                        The following errors were found across the entire feed analysis. See
                                        <a href="{{GoogleSpreadsheetsUrl}}" target="_blank" style="color: #666666; text-decoration: underline;">{{GoogleSpreadsheetsUrl}}</a>.
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px 0 0 0; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                        <!-- {{#if urlCheckResults}}   -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" style="padding: 0 10px 0 10px;" class="pre-header">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive-table">
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td colspan="3" align="center" style="border: 1px solid #ccc; padding: 10px 0; font-size: 14px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-weight: bold; color: #333; background-color: #ccc;">
                                                                            Url Checking Results
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            #
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            URL
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            Alert
                                                                        </td>
                                                                    </tr>
                                                                    <!-- {{#urlCheckResults}} -->
                                                                    <tr>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{RowNumber}}
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{Url}}
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{Message}}
                                                                        </td>
                                                                    </tr>
                                                                    <!-- {{/urlCheckResults}} -->
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <!-- {{/if}} -->
                                        <!-- {{#if priceCheckResult}}   -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" style="padding: 0 10px 0 10px;" class="pre-header">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive-table">
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td colspan="3" align="center" style="border: 1px solid #ccc; padding: 10px 0; font-size: 14px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-weight: bold; color: #333; background-color: #ccc;">
                                                                            Price Checking Results
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            #
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            URL
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            Alert
                                                                        </td>
                                                                    </tr>
                                                                    <!-- {{#priceCheckResult}} -->
                                                                    <tr>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{RowNumber}}
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{Url}}
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{Message}}
                                                                        </td>
                                                                    </tr>
                                                                    <!-- {{/priceCheckResult}} -->
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <!-- {{/if}} -->
                                        <!-- {{#if imageResults}}   -->
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td align="center" style="padding: 0 10px 0 10px;" class="pre-header">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive-table">
                                                        <tr>
                                                            <td>
                                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td colspan="3" align="center" style="border: 1px solid #ccc; padding: 10px 0; font-size: 14px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; font-weight: bold; color: #333; background-color: #ccc;">
                                                                            Image Checking Results
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            #
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            URL
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            Alert
                                                                        </td>
                                                                    </tr>
                                                                    <!-- {{#imageResults}} -->
                                                                    <tr>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{RowNumber}}
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{Url}}
                                                                        </td>
                                                                        <td align="left" style="border: 1px solid #ccc; padding: 5px; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                                                            {{Message}}
                                                                        </td>
                                                                    </tr>
                                                                    <!-- {{/imageResults}} -->
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <br />
                                        <!-- {{/if}} -->
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px 0 0 0; font-size: 12px; line-height: 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #333;">
                                        It took {{Time}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>